.card_recipe {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 1.25rem 0 1.25rem 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

/* .card_recipe div {
  border: 1px solid black;
} */

.card_recipe > :nth-child(1) {
  flex: 1;
}

.card_recipe > :nth-child(2) {
  flex: 2;
  border-left: #e6e6e6 solid 1px;
  padding-left: 1.25rem;
}

.recipe-name {
  font-weight: 800;
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgb(50, 57, 63);
}

.remove-btn {  
  background-color: var(--secondary-color);
  color: white;
}

.create-recipe-btn {
  background-color: var(--primary-color);
  color: white;
}
